 <div class='contentWrapper ng-cloak'>

  <div class='content'>

    <div class="row-fluid">

      <div class="span3 info-panel">
        <!-- SPEED -->
        <div ng-show="mode=='speed'">
          <h2>SCORE : {{score}}</h2>
          <h3>Best score : {{bestScore}}</h3>
          <h3>Best combo : {{combo}}</h3>
          <button ng-click="game.modeSpeed()" class="btn btn-large" type="button"><i class="icon-refresh"></i> Restart</button>
          <!-- <button ng-click="game.pause()" class="btn btn-large" type="button"><i class="icon-refresh"></i> Pause</button> -->
        </div>
        <!-- PUZZLE -->
        <div ng-show="mode=='puzzle'">
          <h2>{{puzzleName || 'puzzle'}}</h2>
          <button ng-click="game.reload()" class="btn btn-large" type="button"><i class="icon-refresh"></i> Retry</button>
          <div ng-show="endPuzzle">
            <hr/>
              <h4>Well done !</h4>
              <span>
                  No more stage for the moment :(
                  <br/>
                  You can play puzzles made by the community or <a href="#/editor">create your own puzzles</a>.
                  And don't forget <a href="#/bonjour">the puzzle of the week</a>.
                  <br/>
              </span>
          </div>

          <hr/>
          <table class="table table-condensed table-hover">
            <caption>Progression</caption>
            <tr ng-click="game.level(level)">
                <td>Stage {{level}}</td>
            </tr>
          </table>

          <table class="table table-condensed table-hover">
            <caption>Community puzzles</caption>
            <tr><th>Name</th><th>Author</th><th></th></tr>
            <tr ng-repeat="puzzle in communityPuzzles" ng-click="game.playPuzzle(puzzle)" ng-if="!puzzle.invalid">
                <td>{{puzzle.name || 'puzzle'}}</td>
                <td>{{puzzle.author || 'anonym'}}</td>
                <td><img ng-show="puzzle.done" width="20" height="20" src="img/success-icon.png"></img></td>
            </tr>
          </table>

        </div>
        <!-- BONJOUR -->
        <div ng-show="mode=='bonjour'">
            <h2>
              Week {{puzzle.id}}
              <img  ng-show="puzzle.done" style="margin-right:10px" class="pull-right" src="img/success-icon.png"></img>
            </h2>
            <h5>A new puzzle each week!</h5>
            <span>
              Connect left and right borders using all segments and clear the board in one shot.
            </span>
            <br/><br/>
            <button ng-click="game.reload()" class="btn btn-large" type="button"><i class="icon-refresh"></i> Retry</button>

            <hr/>
            <table class="table table-condensed table-hover">
               <tr ng-repeat="puzzle in weeklyPuzzles" ng-click="game.playWeekPuzzle(puzzle)">
                  <td>Week {{puzzle.id}}</td>
                  <td><img ng-show="puzzle.done" width="20" height="20" src="img/success-icon.png"></img></td>
              </tr>
            </table>

        </div>
      </div>

      <div class="span9">
        <div class=" board" style="display:inline-block">
          <div style="text-align:center">
              <h1>{{message}}</h1>
          </div>

           <ul ng-repeat="column in board.matrix" class="pull-left column-{{id}}" ng-class="{'first-col':$first, 'last-col':$last}" ng-init="id=$index">
                <li ng-show="mode=='speed'" class="column-head"><h2 ng-show="fail[id]">X</h2></li>
                <li ng-repeat="item in column"
                    data-drop="true"
                    ng-model='column'
                    jqyoui-droppable="{index: {{$index}}, onDrop:'game.dropCallback(item.title, $index)'}"
                    data-jqyoui-options="{accept:'.on-col-{{id}}', hoverClass:'drop-hover'}">

                <div
                    class="thumbnail on-col-{{id}}"
                    ng-class="{on:item.on}"
                    data-drag="{{item.drag}}"
                    data-jqyoui-options="{revert: 'invalid', containment:'.column-{{id}}', cursor:'ns-resize', grid:[50,1]}"
                    ng-model="column"
                    jqyoui-draggable="{index: {{$index}},animate:true,onStart:'game.dragStart'}">

                  <img ng-show="item.type" ng-attr-src="img/{{item.type}}{{item.on ? '_light' : ''}}.png"  ></img>

                </div>

              </li>
           </ul>

        </div>
      </div>

    </div> <!-- ROW -->

  </div> <!-- CONTENT-->

</div> <!-- WRAPPER -->
