<div class='contentWrapper ng-cloak home'>
    <h1>Welcome !</h1>
    Here is my online adaptation of an old puzzle game : Gunpey.
    <div class="row-fluid">
      <h2>Instructions</h2>
      <div class="span3">
          <br/>
          <img width="100%" src="img/screen/goal.png"></img>
      </div>
      <div class="span6">
          <h3>Goal</h3>
          You must connect the left and right sides by moving segments to create a continuous line.
          <br/>
          When a line is connected, it becomes yellow and disappears after few seconds.
          <h3>Controls</h3>
          Drag and drop a segment on the same column.
      </div>

    </div>
    <div class="row-fluid">
      <h2>Modes</h2>
      <div class="span3">
          <h3>Speed</h3>
          <p>
            Segments come from the bottom at regular intervals.
            <br/>
            Be fast to create lines and so remove segments before they reach the top !
          </p>
          <p>
            You can fail one time for each column, the second time you lose...
            <br/>
            You score points for each deleted segment. The longer the line, the more you score points per segment, this is <b>combo</b> !
          </p>
          <a href="#/speed" class="btn btn-primary btn-large" type="button"><i class="icon-play"></i> Speed mode</a>
      </div>
      <div class="span3">
        <img width="80%" src="img/screen/speed.png"></img>
      </div>
      <div class="span3">
          <h3>Puzzle</h3>
          <p>
            Take your time and clear each stage in only one shot !
          </p>
          <a href="#/puzzle" class="btn btn-primary btn-large" type="button"><i class="icon-play"></i> Puzzle mode</a>
      </div>
    </div>
</div>
