
body, button {
  font-family: 'Aldrich', sans-serif;
}

.home h3 {
  border-bottom: 2px solid #333;
}

.home h2,
.info-panel h2 {
  background: #333;
  color: white;
}

.contentWrapper {

  padding: 10px;

}

.centered {
  display: table;
  margin : 0 auto;
}

.thumbnail {

  height: 56px;

  width: 80px;

  text-align: center;
  color : green;

  padding:0;
  margin:0;
  border: none;

  transition: none;

  -webkit-transition: none;

  -moz-transition: none;

  -o-transition: none;

  /*background: rgba(182, 173, 123,0.5);*/

/*  background: url('img/1.png') no-repeat center;
  background-size: 100% 100%;*/

}

.thumbnail[data-drag="false"] {
    background: #fcc;
  }

.thumbnail img {
  width:100%;
  height:100%;
}

.thumbnail:not(.ui-draggable-dragging):hover {
  cursor: pointer;
}

.thumbnail.on {
  /*background: #AFA;*/
}

.board ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background: #eee;
    /*border: 1px solid yellow;*/
}

.board li {

  height: 56px;

  width: 80px;

  line-height: 20px;

  border: 1px solid #fff;

}

li.drop-hover {
  background : #cfc;
}

.first-col li {
  border-left: 5px solid yellow;
}
.first-col li.column-head {
  border-left: none;
  padding-left: 5px;
}

.last-col li {
  border-right: 5px solid yellow;
}
.last-col li.column-head {
  border-right: none;
  padding-right: 5px;
}

.column-head {
  background: #fcc;
  text-align: center;
  color: #f99;
}

.btn-large i {
  margin-top : 0 !important;
}

table tr:hover {
  cursor: pointer;
}
